<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="get" action="/">
    <input type="text" name="keyword" value="{{keyword}}">
    <input type="submit" value="搜索">
</form>

<a href="/book/"><input type="button" value="创建"></a>

<!--遍历渲染 book-->
{% for book in results %}
<div>
    <!--构造书籍内容-->
    <p><a href='{{book[2]}}' target="_blank">{{book[1]}}</a>/大小：{{book[3]}}/格式：{{book[4]}}
    </p>
    <p>{{book[5]}}</p>
</div>
{% endfor %}
</body>
</html>